.navbar {
  background-color: #e4f9f5;
}

.general-bg {
  background-color: #30e3ca;
  height: 100%;
  color: white;
}

.landing {
  background-image: url("./img/home.jpg"); 
  background-position: center;
  background-size: cover;
  height: 100%;
}

.home-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-links > button {
  padding: 0px;
  width: 250px;
  margin-bottom: 10px;
}

.intro {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.intro > p {
  padding: 20px 30px;
}

.nav-link {
  text-align: right;
}

.forms {
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px 30px;
}

.form-text {
  text-align: center;
}

.profile-pic {
  width: 30%;
  border-radius: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center
}

.book-cover {
  width: 60%;
}

.book-details {
  background-color: #30e3ca;
  height: 100%;
  color: white;
}

.book-details-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
